.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

html, body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Card */

.card-product {
  display: flex;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  height: 20em;
  width: 52em;
}

.drawer {
  width: 240px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-product-info {
  margin: 24px 38px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info img {
  width: 40px;
  height: 40px;
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: top center;
  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  margin-left: 18px;
}

.icon {
  background: hsl(210, 46%, 95%);
  border-radius: 50%;
  padding: 6px;
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

/* Share Popup Bubble */

.icon .popuptext {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  width: 14em;
  height: 3em;
  background-color: hsl(217, 19%, 35%);
  color: hsl(212, 23%, 69%);
  line-height: 1;
  border-radius: 10px;
  padding: 3px 10px;
  position: absolute;
  bottom: 180%;
  left: 40%;
  margin-left: -101px;
}

.icon .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 10px;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.icon .show {
  visibility: visible;
  animation: fadeIn 1s
}

.social {
  text-align: center;
}

.socials {
  float: left;
  padding: 0 4px;
}

.socials li {
  float: left;
  padding-left: 14px;
  list-style-type: none;
}

.socials img {
  height: 1.3em;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Media Queries */

/* Mobile */

@media (max-width: 375px) {

  body {
    font-size: 1.5vmax;
    line-height: 1.6;
  }

  .card-product {
    flex-direction: column;
    overflow: hidden;
    height: 44em;
    width: 25em;
  }

  .drawer {
    max-width: 100%;
    object-fit: cover;
    height: 16em;
    border-radius: 0;
  }

  .card-product-info {
    margin: 25px;
  }

  .card-product-info h2 {
    font-size: 13px;
  }

  .user-info img {
    height: 30px;
    width: 30px;
  }

  .user {
    margin-top: 16px;
  }

  .user-details {
    margin-left: 12px;
  }

  /* Mobile Active State */

  .social .popuptext {
    background-color: hsl(217, 19%, 35%);
    border-radius: 0;
    justify-content: flex-start;
    padding-left: 24px;
    left: -82px;
    bottom: -18px;
    height: 5em;
    width: 19em;
  }

  .social .popuptext::after {
    visibility: hidden;
  }

  .social ul li {
    padding-left: 11px;
  }

  .popuptext {
    font-size: 11px;
    letter-spacing: 1px;
  }
}
